.language-input {
  grid-area: langinput;
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 4.5fr 1fr;
}

.arrow-button {
  cursor: pointer;
}

/* .MuiSelect-select.MuiSelect-select {
  padding-right: 0px;
} */

/* .MuiMenu-paper {
  max-height: 5.5rem;
} */