body {
  margin: .4rem;
  background-color: sandybrown;
}

.loading {
  width: 10rem;
}

.App {
  display: grid;
  width: 10rem;
  grid-template-areas: 
    'logo'
    'langinput'
    'mfsinput'
    'error'
    'more-info';
  align-items: center;
}

.see-more {
  display: grid;
  width: 13rem;
  grid-template-areas: 
    'logo'
    'more-info';
  align-items: center;
}

.grid-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: .2rem;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  grid-area: logo;
}

.logo-background {
  display: flex;
  justify-content: center;
  width: 8.5rem;
  padding: 0.3rem;
  background-color: whitesmoke;
  border-radius: .3rem;
}

.logo-container img {
  height: 1.5rem;
}

.input-label {
  display: block;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.inactive {
  display: none;
}
