.error-message {
  width: 10rem;
  font-size: .9rem;
}

.App {
  display: grid;
  width: 16rem;
  grid-template-areas: 
    'top'
    'bottom';
  align-items: center;
  border-style: solid;
  border-radius: .1rem;
  border-width: .1rem;
  border-color: #5658576e;
}

.top {
  display: grid;
  grid-area: top;
  grid-template-areas: 'logo langinput';
  background-color:#5eb2ca;  
  align-items: center;
}

.bottom {
  display: grid;
  grid-area: bottom;
  grid-template-areas: 
  'mfsinput mfsinput mfsinput'
  'iframe-warning iframe-warning more-info';
  background-color: #E4E4E4;
}

.grid-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: .1rem;
}

.logo {
  grid-area: logo;
  height: 2rem;
  padding: .2rem;
}