body {
  overflow: hidden;
}

.error-message {
  width: 10rem;
  font-size: .9rem;
}

.App {
  display: grid;
  width: 16rem;
  grid-template-areas: 
    'top'
    'bottom';
  align-items: center;
  border-style: solid;
  border-radius: .1rem;
  border-width: .1rem;
  border-color: #5658576e;
}

.top {
  display: grid;
  grid-area: top;
  grid-template-areas: 'logo langinput';
  background-color:#5eb2ca;  
  align-items: center;
  height: 2.5rem;
}

.bottom {
  display: grid;
  grid-area: bottom;
  grid-template-rows: 1fr .5fr;
  grid-template-columns: 80% 20%;
  background-color: #E4E4E4;
}

.logo {
  grid-area: logo;
  height: 1.8rem;
  padding-left: .5rem;
}