.language-input {
  grid-area: langinput;
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 4.5fr 1fr;
}

.arrow-button {
  cursor: pointer;
}

#language {
  text-align: center;
  position: relative;
  top: .35rem;
  font-size: .8rem;
  color: beige;
  font-weight: bold;
}