.mfs-input {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: .2rem;
  margin-right: .8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}